@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);


body {
  background-color: #f5f6f7;
}

.page {
  max-width: 1440px;
  color: #000;
  font-family: 'Roboto', 'Robotoslab', Arial, sans-serif;
  font-weight: 400;
  display: block;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.main {
   margin: 0 auto;
}

.header {
  width: 320px;
  height: 56px;
  border-bottom: 1px solid #b6bcbf;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.header_theme_dark {
  color: #fff;
  background-color: transparent;
}

@media screen and (min-width: 622px) {
  .header {
    width: 100%;
    height: 66px;
  }
}

@media screen and (min-width: 1100px) {
  .header {
    width: 100%;
    height: 80px;
  }
}

.header__logo {
  width: 117px;
  height: 24px;
  line-height: 24px;
  padding-top: 16px;
  padding-left: 16px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 622px) {
  .header__logo {
    font-size: 20px;
    width: 200px;
    height: 24.8px;
    padding-top: 22.73px;
  }
}

@media screen and (min-width: 1100px) {
  .header__logo {
    padding-top: 30px;
    padding-left: 104px;
  }
}

.header__menu_mobile {
  width: 16px;
  height: 16px;
  padding-top: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 622px) {
  .header__menu_mobile {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .header__menu_mobile {
    display: none;
  }
}

.header__menu_big {
  display: none;
}

@media screen and (min-width: 622px) {
  .header__menu_big {
    width: 300px;
    height: 66px;
    display: flex;
  }
}


@media screen and (min-width: 1100px) {
  .header__menu_big {
    width: 300px;
    height: 80px;
    display: flex;
    font-size: 18px;
  }
}

.header__nav {
  display: flex;
}

@media screen and (min-width: 622px) {
  .header__nav {
    display: flex;
    font-size: 16px;
    width: 220px;
    padding-right: 20px;
  }
}


@media screen and (min-width: 1100px) {
  .header__nav {
    display: flex;
    font-size: 18px;
    width: 220px;
  }
}

@media screen and (min-width: 622px) {
  .header__link {
    display: flex;
    padding-top: 26px;
    font-size: 16px;
    width: 64px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
  }
}

@media screen and (min-width: 1100px) {
  .header__link {
    display: flex;
    padding-top: 29px;
    font-size: 18px;
    width: 69px;
    font-weight: 500;
    border-bottom: 3px solid #ffffff;
  }
}

.text {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news {
  width: 320px;
  height: 536px;
  margin: -56px auto 0;
  background-image: url(../images/mobile/fon/georgia-de-lotz_mobile.jpg);
  background-repeat: no-repeat;
  padding-top: 1px;
}

@media screen and (min-width: 622px) {
  .news {
    width: 100%;
    height: 400px;
    margin-top: -66px;
    background-image: url(../images/tablet/fon/georgia-de-lotz_tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1100px) {
  .news {
    width: 100%;
    height: 576px;
    margin-top: -80px;
    background-image: url(../images/desktop/fon/georgia-de-lotz_desktop.jpg);
    background-repeat: no-repeat;
  }
}

.title {
  padding-left: 16px;
  font-size: 30px;
  font-weight: normal;
}

.articles {
  margin: 0 auto;
}

.articles__title {
  width: 285px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 32px auto 16px auto;
}


@media screen and (min-width: 622px) {
  .articles__title {
    width: 336px;
    height: 34px;
    margin: 40px auto 40px 32px;
  }
}

@media screen and (min-width: 1100px) {
  .articles__title {
    font-size: 40px;
    width: 712px;
    height: 46px;
    margin: 80px auto 64px 104px;
  }
}

.news__title {
  width: 285px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 36px;
  margin: 86px auto 16px auto;
  padding: 0;
}

@media screen and (min-width: 622px) {
  .news__title {
    width: 385px;
    height: 80px;
    margin-left: 163px;
  }
}

@media screen and (min-width: 1100px) {
  .news__title {
    width: 608px;
    height: 128px;
    font-size: 60px;
    margin: 160px auto 32px 416px;
  }
}

.news__text {
  width: 288px;
  margin: 0 auto;
  padding-bottom: 122px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

@media screen and (min-width: 622px) {
  .news__text {
    max-width: 452px;
    height: 48px;
    margin-left: 160px;
    margin-bottom: 52px;
    padding: 0;
  }
}


@media screen and (min-width: 660px) {
  .news__text {
    width: 452px;
    height: 48px;
    margin-left: 160px;
    margin-bottom: 52px;
    padding: 0;
  }
}

@media screen and (min-width: 1100px) {
  .news__text {
    width: 545px;
    height: 48px;
    margin: 0 auto 64px 416px;
  }
}

.button {
  width: 288px;
  height: 56px;
  margin-left: 16px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  font-weight: 500;
}


.button_disabled {
  color: #000;
  background: #B6BCBF;
  opacity: 0.2;
}

/* .input:invalid {
  background-color: #e6e8eb;
}

.input:invalid:required {
  background-color: #e6e8eb;
} */

.input:valid {
  color: #1a1b22;
}

.news__input {
  width: 272px;
  height: 56px;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: left;
  background: #ffffff;
  color: #b6bcbf;
}

@media screen and (min-width: 622px) {
  .news__input {
    width: 410px;
    margin-left: 160px;
    position: absolute;
  }
}


@media screen and (min-width: 660px) {
  .news__input {
    width: 432px;
    margin-left: 160px;
    position: absolute;
  }
}

@media screen and (min-width: 1100px) {
  .news__input {
    width: 572px;
    height: 64px;
    margin-left: 416px;
    position: absolute;
  }
}

.button_type_search {
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  background: #2f71e5;
  outline: none;
}

@media screen and (min-width: 622px) {
  .button_type_search {
    width: 160px;
    margin-left: 427px;
    position: relative;
  }
}


@media screen and (min-width: 660px) {
  .button_type_search {
    width: 160px;
    margin-left: 450px;
    position: relative;
  }
}

@media screen and (min-width: 1100px) {
  .button_type_search {
    width: 168px;
    height: 64px;
    margin-left: 857px;
    position: relative;
  }
}

.button_type_search:hover {
  background-color: #347efe;
}


.button_type_search:active {
  background-color: #2a65cc;
}

.button_type_show {

  margin-bottom: 32px;
  margin-left: calc((100%-288px) / 2);
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  background: #ffffff;
}

.button_type_show:hover {
  opacity: .7;
}

@media screen and (min-width: 622px) {
  .button_type_show {
    width: 240px;
    margin-left: calc((100% - 240px) / 2);
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1100px) {
  .button_type_show {
    width: 288px;
    margin-left: calc((100% - 240px) / 2);
    margin-bottom: 80px;
  }
}

.articles__list {
  justify-content: center;
}

@media screen and (min-width: 622px) {
  .articles__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 234px);
    grid-gap: 8px 8px;
    justify-content: center;
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 970px) {
  .articles__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px 16px;
    justify-content: center;
    padding-bottom: 64px;
  }
}

.article-card {
  width: 288px;
  height: 440px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto 9px auto;
}

@media screen and (min-width: 622px) {
  .article-card {
  width: 224px;
  height: 430px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  }
}

@media screen and (min-width: 970px) {
  .article-card {
  width: 400px;
  height: 576px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  }
}

.article-card__text_tablet {
  display: none;
}

@media screen and (min-width: 622px) {
  .article-card__text_tablet {
  display: block;
  width: 224px;
  margin-left: 16px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  }
}

@media screen and (min-width: 970px) {
  .article-card__text_tablet {
  display: none;
  }
}

.article-card__text_desktop {
  display: none;
}

@media screen and (min-width: 970px) {
  .article-card__text_desktop {
  display: block;
  width: 224px;
  margin-left: 16px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  }
}

@media screen and (min-width: 622px) {
  .article-card__text_mobile {
  display: none;
  }
}

@media screen and (min-width: 970px) {
  .article-card__text_mobile {
  display: none;
  }
}

.article-card__image-section {
  width: 288px;
  height: 196px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}

@media screen and (min-width: 622px) {
  .article-card__image-section {
  width: 224px;
  height: 150px;
  }
}

@media screen and (min-width: 970px) {
  .article-card__image-section {
  width: 400px;
  height: 272px;
  }
}

.article-card__image {
  width: 288px;
  height: 196px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (min-width: 622px) {
  .article-card__image {
  width: 224px;
  height: 150px;
  }
}

@media screen and (min-width: 970px) {
  .article-card__image {
  width: 400px;
  height: 272px;
  }
}

.article-card__icon {
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-left: 232px;
  border-radius: 8px;
  background: url(../images/icons/Rectangle8.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border: none;
  position: absolute;
  outline: none;
}

@media screen and (min-width: 622px) {
  .article-card__icon {
    margin-top: 8px;
    margin-left: 176px;
  }
}

@media screen and (min-width: 970px) {
  .article-card__icon {
    margin-top: 24px;
    margin-left: 336px;
  }
}

.article-card__icon_active {
  width: 40px;
  height: 40px;
  background: url(../images/icons/Rectangle8_blue.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.article-card__icon_attention {
  width: 40px;
  height: 40px;
  background: url(../images/icons/Rectangle8_black.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.article-card__date {
  width: 256px;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Sourcesanspro', Arial, sans-serif;
  margin: 0px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 0px;
  color: #B6BCBF;
}

@media screen and (min-width: 622px) {
  .article-card__date {
    width: 128px;
  }
}

@media screen and (min-width: 970px) {
  .article-card__date {
    width: 128px;
  }
}

.article-card__title {
  width: 256px;
  height: 52px;
  margin: 0px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  color: #000;
}

@media screen and (min-width: 622px) {
  .article-card__title {
  width: 192px;
  height: 72px;
  }
}

@media screen and (min-width: 970px) {
  .article-card__title {
  width: 352px;
  height: 60px;
  }
}

.article-card__text {
  width: 256px;
  height: 88px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 22px;
  padding-top: 10px;
  padding-left: 16px;
  color: #000;
}

@media screen and (min-width: 622px) {
  .article-card__text {
  width: 192px;
  height: 88px;
  padding-bottom: 12px;
  }
}

@media screen and (min-width: 970px) {
  .article-card__text {
  width: 352px;
  height: 110px;
  padding-bottom: 12px;
  }
}

.article-card__source {
  width: 256px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Robotoslab', Arial, sans-serif;
  margin: 0px;
  padding-top: 8px;
  padding-left: 16px;
  color: #B6BCBF;
  letter-spacing: .4px;
  text-transform: uppercase;
}

@media screen and (min-width: 622px) {
  .article-card__source {
    width: 192px;
  }
}

@media screen and (min-width: 970px) {
  .article-card__source {
    width: 192px;
  }
}

.about {
  width: 320px;
  min-height: 726px;
  margin: 0 auto;
  padding-top: 32px;
  background-color: #ffffff;
}

@media screen and (min-width: 622px) {
  .about {
    width: 100%;
    min-height: 354px;
    display: grid;
    grid-template-columns: 304px 1fr;
    margin: 0px;
    padding-top: 0px;
  }

}

@media screen and (min-width: 1100px) {
  .about {
    width: 100%;
    min-height: 624px;
    display: grid;
    grid-template-columns: 624px 1fr;
    margin: 0px;
    padding-top: 0px;
  }
}

.about_hidden {
  display: none;
}

@media screen and (min-width: 622px) {
  .about_hidden {
    display: flex;
  }
}

.about__content {
  margin: 0px;
}

@media screen and (min-width: 622px) {
  .about__content {
    padding-left: 0;
    max-width: 318px;
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    padding-left: 0;
    width: 424px;
  }
}

@media screen and (min-width: 1100px) {
  .about__content {
    padding-left: 0;
    max-width: 464px;
  }
}

@media screen and (min-width: 1282px) {
  .about__content {
    padding-left: 0;
    width: 600px;
  }
}

.about__title {
  width: 288px;
  height: 40px;
  font-size: 30px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 622px) {
  .about__title {
    max-width: 318px;
    height: 34px;
    padding-top: 40px;
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .about__title {
    width: 424px;
    height: 34px;
    padding-top: 40px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 1100px) {
  .about__title {
    font-size: 40px;
    width: 400px;
    height: 46px;
    margin: 131px auto 24px 0;
    padding: 0;
  }
}

@media screen and (min-width: 1282px) {
  .about__title {
    font-size: 40px;
    width: 496px;
    height: 46px;
    margin: 131px auto 24px 0;
    padding: 0;
  }
}

.about__photo-section {
  width: 272px;
  height: 272px;
  display: flex;
  margin: auto;
}

@media screen and (min-width: 622px) {
  .about__photo-section {
    width: 232px;
    height: 232px;
  }
}

@media screen and (min-width: 1100px) {
  .about__photo-section {
    width: 464px;
    height: 464px;
    margin: 80px 56px 80px 104px;
  }
}

.about__photo {
  width: 272px;
  height: 272px;
  margin: 0 auto;
  border-radius: 1000px;
}

@media screen and (min-width: 622px) {
  .about__photo {
    width: 232px;
    height: 232px;
  }

}

@media screen and (min-width: 1100px) {
  .about__photo {
    width: 464px;
    height: 464px;
  }
}

.about__text {
  width: 288px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0 auto 30px auto;
  line-height: 24px;
}

@media screen and (min-width: 622px) {
  .about__text {
    max-width: 310px;
    padding-left: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .about__text {
    width: 424px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1100px) {
  .about__text {
    max-width: 462px;
    padding-left: 0px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1282px) {
  .about__text {
    width: 600px;
    padding-left: 0px;
  }
}

.footer {
  margin: 0 auto;
}

.footer_mobile {
  width: 320px;
  height: 224px;
  background-color: #ffffff;
}

@media screen and (min-width: 622px) {
  .footer_mobile {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .footer_mobile {
    display: none;
  }
}

.footer_big {
  display: none;
}

@media screen and (min-width: 622px) {
  .footer_big {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    display: flex;
  }
}

@media screen and (min-width: 1100px) {
  .footer_big {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
  }
}

.footer__down {
  width: 320px;
  height: 50px;
  background-color: #f5f6f7;
  background-position: bottom;
}

@media screen and (min-width: 622px) {
  .footer__down {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    display: flex;
  }
}

@media screen and (min-width: 1100px) {
  .footer__down {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    display: flex;
  }
}

.footer__columns {
  margin: 0px;
  display: flex;
  padding-bottom: 30px;
}

@media screen and (min-width: 622px) {
  .footer__columns {
   padding-right: 25px;
  }
}

@media screen and (min-width: 1100px) {
  .footer__columns {
   padding-right: 106px;
  }
}

.footer__column-navigation {
  width: 200px;
  height: 74px;
  margin: 0px;
  padding-top: 20px;
  padding-left: 16px;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 622px) {
  .footer__column-navigation {
    width: 264px;
    height: 22px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1100px) {
  .footer__column-navigation {
    width: 304px;
    flex-direction: row;
  }
}

.footer__link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.footer__column-social-icons {
  width: 74px;
  height: 74px;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 622px) {
  .footer__column-social-icons {
    height: 22px;
    flex-direction: row;
    padding-left: 48px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  z-index: 1;
}

.icon_gh {
  background: url(../images/icons/VectorGH.png) 0 0px no-repeat;
}

.icon_fb {
  background: url(../images/icons/VectorFB.png) 0 0px no-repeat;
}

.icon_menu {
  border-bottom: 7px double #ffffff;
  content:"";
  height: 1px;
  width: 16px;
  cursor: pointer;
}

.icon_menu_hidden {
  display: none;
}

.footer__copyright {
  font-size: 16px;
  padding-left: 16px;
  color: #B6BCBF;
  font-family: 'Roboto', Arial, sans-serif;
  width: 288px;
  height: 22px;
  padding-bottom: 16px;
}

@media screen and (min-width: 622px) {
  .footer__copyright {
    width: 300px;
    height: 0px;
    margin: auto;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    width: 300px;
    height: 0px;
    margin: auto;
  }
}

@media screen and (min-width: 1100px) {
  .footer__copyright {
    width: 300px;
    height: 0px;
    margin: auto;
  }
}

@media screen and (min-width: 622px) {
  .popup {
   margin-top: 0;
   padding-top: 127px;
  }
}

.popup__content {
  width: 320px;
  height: 520px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 622px) {
  .popup__content {
    width: 430px;
    height: 380px;
  }
}

.popup__title {
  width: 158px;
  height: 23px;
  margin: 16px auto 16px 16px;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (min-width: 622px) {
  .popup__title {
    width: 64px;
    height: 32px;
    margin: 34px auto 22px 36px;
  }
}

.popup__form {
  margin: 65px 16px 0;
  width: 288px;
  display: block;
  position: fixed;
}

@media screen and (min-width: 622px) {
  .popup__form {
   width: 358px;
   height: 290px;
   margin: 88px 36px auto 36px;
  }
}

.popup__input {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  box-sizing: border-box;
  padding-top: 9px;
  margin-bottom: 1px;
  color: #000;
  opacity: .4;
}

@media screen and (min-width: 622px) {
  .popup__input {
    height: 32px;
    padding: 0;
    margin: 0;
  }
}

.popup__error-message {
  color: red;
  font-size: 12px;
  display: block;
  min-height: 15px;
}

.popup__button {
  width: 288px;
  height: 64pxpx;
  border: none;
  margin-top: 48px;
  color: #B6BCBF;
  background: #000;
  font-size: 36px;
}

.popup__button_disabled {
  color: #000;
  background: #B6BCBF;
  opacity: 0.2;
}

@media screen and (min-width: 622px) {
  .popup__button {
    width: 358px;
  }
}

.popup__navigation {
  width: 288px;
  height: 112px;
  display: flex;
  flex-direction: column;
  margin: 65px auto 22px auto;
}

.registration {
  width: 226px;
  height: 20px;
  text-decoration: none;
  margin: 0 auto;
}

@media screen and (min-width: 622px) {
  .registration {
    margin: 0 auto;
  }
}

.icon_close {
  width: 24px;
  height: 24px;
  /* position: absolute; */
  cursor: pointer;
  /* transform: scale(-1, 1); */
  background-image: url(../images/icons/close_small.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  position: absolute;
}


@media screen and (min-width: 622px) {
  .icon_close {
    width: 40px;
    height: 40px;
    background-image: url(../images/icons/back.png);
  }
}

.popup__close {
  width: 24px;
  height: 24px;
  right: 16px;
  top: 16px;
  /* padding-top: 16px;
  padding-left: 283px; */
  position: absolute;
  cursor: pointer;
  display: flex;
  z-index: 3;
}

.popup__close_form {
  top: -44px;
}

@media screen and (min-width: 622px) {
  .popup__close {
    display: flex;
    width: 40px;
    height: 40px;
    top: -46px;
    right: -46px;
  }
}

.loader {
  display: none;
}

@media screen and (min-width: 1100px) {
  .loader {
    width: 1440px;
    height: 282px;
    background-color: #f5f6f7;
    color: #B6BCBF;
    margin: auto;
  }
}

.button_green {
  background-color: aqua;
}

.popup_menu {
  width: 320px;
  height: 286px;
  background-color: #000;
  position: absolute;
  display: none;
}


.popup_menu_open {
  display: block;
  margin-left: calc((100%-320px) / 2);
}

.popup__link {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  line-height: 56px;
  text-decoration: none;
}

.button_type_authorization {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  border-width: 1px;
  border-style: outset;
  cursor: pointer;
}


.button_type_authorization:hover {
  opacity: .7;
}


.popup_authorization {
  position: fixed;
  width: 320px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1;
  margin-left: calc((100% - 320px) / 2);
  margin-top: 56px;
}

.popup_authorization_open {
  display: block;
}

@media screen and (min-width: 622px) {
  .popup_authorization {
    width: 100%;
    margin-top: -66px;
    z-index: 2;
    padding-top: 207px;
    margin-left: 0;
  }
}

.popup__label {
  width: 66px;
  height: 14px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Inter', Arial, sans-serif;
  color: #2f71e5;
}

.button_type_entry {
  height: 64px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 0;
  padding-top: 6px;
  margin: 22px auto 16px;
}

.registration__link {
  text-decoration: none;
  color: #2f71e5
}

.popup_icon {
  width: 182px;
  height: 28px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 10px;
  position: absolute;
  display: none;
  margin: 24px auto auto 149px;
  text-align: center;
  padding-top: 12px;
}

@media screen and (min-width: 1100px) {
  .popup_icon_show {
    display: block;
  }
}

.button_type_authorization_menu {
  background-color: unset;
  width: 152px;
  height: 40px;
  margin-top: 14px;
  margin-right: 40px;
  border: 1px solid #fff;
}


@media screen and (min-width: 1100px) {
  .button_type_authorization_menu {
    width: 176px;
    height: 48px;
  }
}

.preloader {
  display: none;
  margin-top: 80px;
}

@media screen and (min-width: 1100px) {
  .preloader {
    width: 100%;
    margin: 0;
    width: 100%;
    height: 282px;
    padding-top: 80px;
	  /* min-height: 100vh; */
	  background-color: #f5f6f7;
	  overflow: hidden;
    height: 282px;
    display: none;
  }
}

.preloader_active {
  display: block;
}

.circle-preloader {
	display: block;
	width: 74px;
	height: 74px;
	border: 4px solid #444;
	border-bottom-color: #888;
	border-radius: 50%;
	/* position: absolute; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.preloader__message {
  width: 280px;
  height: 24px;
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #b6bcbf;
  margin: 24px auto;
  text-align: center;
}

.popup__error-message {
  color: red;
}


.popup__fon {
  width: 320px;
  height: 480px;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}


@media screen and (min-width: 622px) {
  .popup__fon {
    display: none;
  }
}
