@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

* {
  border: 1px solid red;
}

.page {
  background-color: #F5F6F7;
  max-width: 1440px;
  color: #1A1B22;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  /* text-align: center; */
  display: table;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/*
body {
  max-width: 320px;
  min-height: 100vh;
  background-color: #F5F6F7;
  margin: auto;
  /* display: flex; */
  /* justify-content: center; */
/*} */

.main {
  margin: 0px;
}
/*
.articles-list {
  margin: 0px auto;
} */

@media screen and (min-width: 622px) {
  .articles-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 234px);
    grid-gap: 8px 8px;
    justify-content: center;
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 970px) {
  .articles-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px 16px;
    justify-content: center;
    padding-bottom: 22px;
  }
}

.text {
  width: 288px;
  margin: 0px;
  padding-left: 16px;
  font-size: 18px;
}

.header {
  width: 320px;
  height: 56px;
  margin: 0px;
  color: #1A1B22;
  background-color: #ffffff;
  /* background-image: url(../src/images/mobile/fon/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
  background-repeat: no-repeat; */
}

/* .header_mobile {
  background-image: url(../src/images/fon/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
} */


@media screen and (min-width: 622px) {
  .header {
    /* width: 768px; */
    /* width: 99vw; */
    width: 100%;
    /* width: 95%; */
    height: 80px;
    margin: 0px;
    display: block;
    /* background-image: url(../src/images/tablet/fon/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat; */
  }
}


@media screen and (min-width: 1282px) {
  .header {
    /* width: 768px; */
    /* width: 99vw; */
    /* width: 95%; */
    height: 80px;
    width: 100%;
    /* margin: 0px; */
    /* display: block; */
    /* background-image: url(../src/images/desktop/fon/georgia-de-lotz--UsJoNxLaNo-unsplash.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
  }
}


.header__top {
  height: 56px;
  border: 1px solid rgba(196, 196, 196, 0.3);
  display: flex;
  justify-content: space-between;
  color: #1A1B22;
}

@media screen and (min-width: 622px) {
  .header__top {
    height: 66px;
  }
}

@media screen and (min-width: 1282px) {
  .header__top {
    height: 80px;
  }
}

.header__logo {
  width: 117px;
  height: 24px;
  line-height: 24px;
  padding-top: 16px;
  padding-left: 16px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #1A1B22;
}

@media screen and (min-width: 622px) {
  .header__logo {
    font-size: 20px;
    width: 200px;
    height: 24.8px;
    padding-top: 22.73px;
  }
}

@media screen and (min-width: 1282px) {
  .header__logo {
    /* font-size: 20px; */
    /* width: 200px; */
    /* height: 24.8px; */
    padding-top: 30px;
    padding-left: 104px;
  }
}

.header__menu {
  width: 16px;
  height: 16px;
  padding-top: 24px;
  padding-right: 24px;
}

.header__nav {
  display: none;
}

.button__registration {
  display: none;
}

@media screen and (min-width: 622px) {
  .header__menu {
    display: none;
  }
}


@media screen and (min-width: 1282px) {
  .header__menu {
    /* display: none; */
  }
}

@media screen and (min-width: 622px) {
  .header__nav {
    display: flex;
    font-size: 16px;
    width: 220px;
    /* text-decoration: none; */
    /* color: #ffffff; */
    /* border-bottom: #ffffff; */
    padding-right: 20px;
  }
}


@media screen and (min-width: 1282px) {
  .header__nav {
    display: flex;
    font-size: 16px;
    width: 220px;
    /* text-decoration: none; */
    /* color: #ffffff; */
    /* border-bottom: #ffffff; */
    padding-right: 116px;
  }
}


@media screen and (min-width: 622px) {
  .header__nav_saved {
    display: flex;
    font-size: 16px;
    width: 396px;
    /* text-decoration: none; */
    /* color: #ffffff; */
    /* border-bottom: #ffffff; */
    padding-right: 20px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 622px) {
  .header__link {
    display: flex;
    padding-top: 22px;
    font-size: 16px;
    width: 124px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    color: black;
    border-bottom: 3px solid #ffffff;
  }
}


@media screen and (min-width: 622px) {
  .header__link_focus {
    border-bottom: 3px solid #000000;
  }
}


@media screen and (min-width: 1282px) {
  .header__link {
    display: flex;
    padding-top: 22px;
    font-size: 18px;
    width: 160px;
    font-weight: 500;
    /* text-decoration: none; */
    /* color: #ffffff; */
    border-bottom: 3px solid #ffffff;
  }
}


.header__section {
  margin: 0px;

}


@media screen and (min-width: 1282px) {

  .header__section {
    /* margin: 0 auto; */
  }
}


.title {
  margin: 0px;
  padding-left: 16px;
  font-size: 30px;
  font-weight: normal;
}

.header__title {
  width: 285px;
  height: 80px;
  margin: 0px;
  /* text-align: ; */
  padding-top: 30px;
  padding-left: 19px;
  padding-bottom: 16px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
}

@media screen and (min-width: 622px) {
  .header__title {
    width: 352px;
    padding-left: 160px;
  }
}


@media screen and (min-width: 1282px) {
  .header__title {
    width: 608px;
    height: 128px;
    font-size: 60px;
    padding: 0 auto;
    padding-left: 416px;
    /* padding: 0; */
    /* margin: 0 auto; */
    padding-top: 80px;
    padding-bottom: 32px;
  }
}


.header__text {
  margin: 0px;
  padding-left: 16px;
  padding-bottom: 122px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}


@media screen and (min-width: 622px) {
  .header__text {
    width: 452px;
    padding-left: 160px;
    padding-bottom: 52px;
  }
}



@media screen and (min-width: 1282px) {
  .header__text {
    width: 545px;
    /* margin: 0 auto; */
    padding-left: 416px;
    padding-bottom: 64px;
  }
}

.saved-info {
  width: 320px;
  height: 246px;
  background-color: #ffffff;
}


@media screen and (min-width: 622px) {

.saved-info {
  width: 100%;
  height: 254px;
  background-color: #ffffff;
}
}


@media screen and (min-width: 1282px) {

  .saved-info {
    width: 100%;
    height: 254px;
    background-color: #ffffff;
  }
  }


.saved-info__title {
  width: 288px;
  height: 24px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #B6BCBF;
}


@media screen and (min-width: 622px) {
  .saved-info__title {
    width: 288px;
    height: 24px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #B6BCBF;
  }
}


@media screen and (min-width: 1282px) {
  .saved-info__title {
    padding-left: 104px;
  }
}

.saved-info__category {
  width: 288px;
  height: 48px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1A1B22;
  padding-left: 15px;
}


@media screen and (min-width: 622px) {
  .saved-info__category {
    width: 712px;
    height: 48px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1A1B22;
    padding-left: 15px;
  }
}


@media screen and (min-width: 1282px) {
  .saved-info__category {
    padding-left: 104px;
  }
}

.button {
  width: 288px;
  height: 56px;
  margin-left: 16px;
  border-radius: 100px;
  border: none;
}

.button__escape {
  display: none;
}


@media screen and (min-width: 622px) {
  .button__registration {
    display: flex;
    width: 152px;
    height: 40px;
    color: #ffffff;
    color: black;
    font-size: 16px;
    text-align: center;
    /* margin: 0px; */
    margin-top: 13px;
    margin-right: 52px;
    padding-top: 8px;
    background: none;
    border: 1px solid #ffffff;
  }
}



@media screen and (min-width: 1282px) {
  .button__registration {
    display: flex;
    width: 152px;
    height: 40px;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    /* margin: 0px; */
    margin-top: 13px;
    margin-right: 52px;
    padding-top: 8px;
    background: none;
    border: 1px solid #ffffff;
  }
}

.button__field {
  padding-left: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: left;
  background: #ffffff;
  color: #B6BCBF;
}


@media screen and (min-width: 622px) {
  .button__field {
    width: 448px;
    margin-left: 160px;
    position: absolute;
  }
}


@media screen and (min-width: 1282px) {
  .button__field {
    width: 608px;
    height: 64px;
    margin-left: 416px;
    position: absolute;
  }
}

.button__search {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: rgba(47, 113, 229, 1);
}

@media screen and (min-width: 622px) {
  .button__search {
    width: 160px;
    margin-left: 448px;
    position: relative;
  }
}


@media screen and (min-width: 1282px) {
  .button__search {
    width: 168px;
    height: 64px;
    margin-left: 857px;
    position: relative;
  }
}

.button__show {
  margin-bottom: 32px;
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  background: #ffffff;
}


@media screen and (min-width: 622px) {
  .button__show {
    width: 240px;
    /* position: absolute; */
    margin-left: calc((100% - 240px)/2);
    margin-bottom: 40px;
  }
}


@media screen and (min-width: 1282px) {
  .button__show {
    width: 288px;
    /* position: absolute; */
    margin-left: calc((100% - 240px)/2);
    margin-bottom: 40px;
  }
}

.section-title {
  margin: 0px;
  width: 288px;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 24px;
  font-size: 30px;
  font-family: 'Robotoslab', Arial, sans-serif;
}


@media screen and (min-width: 622px) {
  .section-title {
    width:336px;
  }
}


@media screen and (min-width: 1282px) {
  .section-title {
    width: 712px;
    height: 46px;
    padding-top: 80px;
    padding-left: 104px;
  }
}

.article-card {
  width: 288px;
  min-height: 440px;
  margin-left: 16px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  /* position: absolute; */
  /* display: flex; */
  /* z-index: -1; */
}

.article-card__text_tablet {
  display: none;
}


.article-card__text_desktop {
  display: none;
}

@media screen and (min-width: 622px) {
  .article-card {
  width: 224px;
  /* min-height: 420px; */
  height: 430px;
  margin-left: 16px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  /* position: absolute; */
  /* display: flex; */
  /* z-index: -1; */
  }
}


@media screen and (min-width: 970px) {
  .article-card {
  width: 400px;
  /* min-height: 420px; */
  height: 576px;
  /* margin-left: 16px; */
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  /* position: absolute; */
  /* display: flex; */
  /* z-index: -1; */
  }
}


@media screen and (min-width: 622px) {
  .article-card__text_tablet {
  display: block;
  width: 224px;
  /* min-height: 420px; */
  margin-left: 16px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  /* position: absolute; */
  /* display: flex; */
  /* z-index: -1; */
  }
}



@media screen and (min-width: 970px) {
  .article-card__text_tablet {
  display: none;
  }
}

@media screen and (min-width: 970px) {
  .article-card__text_desktop {
  display: block;
  width: 224px;
  /* min-height: 420px; */
  margin-left: 16px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  /* position: absolute; */
  /* display: flex; */
  /* z-index: -1; */
  }
}


@media screen and (min-width: 622px) {
  .article-card__text_mobile {
  display: none;
  }
}




@media screen and (min-width: 970px) {
  .article-card__text_mobile {
  display: none;
  }
}

.article-card__image-section {
  width: 288px;
  height: 196px;
  /* background-size: cover;
  background-position: center; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
}


@media screen and (min-width: 622px) {
  .article-card__image-section {
  width: 224px;
  height: 150px;
  }
}


@media screen and (min-width: 970px) {
  .article-card__image-section {
  width: 400px;
  height: 272px;
  }
}

.article-card__image {
  width: 288px;
  height: 196px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* position: relative; */
  /* z-index: -1; */
}


@media screen and (min-width: 622px) {
  .article-card__image {
    width: 224px;
    height: 150px;
  }
}


@media screen and (min-width: 970px) {
  .article-card__image {
    width: 400px;
    height: 272px;
  }
}

.article-card__tag {
  width: 88px;
  height: 40px;
  margin-top: 16px;
  margin-left: 16px;
  position: absolute;
  border-radius: 8px;
  background-color: #ffffff;
  background-position: center;
  text-align: center;
}

.article-card__icon {
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-left: 232px;
  border-radius: 8px;
  background: url(../images/icons/Union.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border: none;
  /* z-index: 3; */
  position: absolute;
  /* display: flex; */
}

@media screen and (min-width: 622px) {
  .article-card__icon {
    margin-top: 8px;
    margin-left: 176px;
  }
}


@media screen and (min-width: 970px) {
  .article-card__icon {
    margin-top: 24px;
    margin-left: 312px;
  }
}

.article-card__date {
  width: 256px;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Sourcesanspro', Arial, sans-serif;
  margin: 0px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 0px;
  color: #B6BCBF;
  /* position: absolute; */
  /* z-index: 1; */
}


@media screen and (min-width: 622px) {
  .article-card__date {
    width: 128px;
  }
}


@media screen and (min-width: 970px) {
  .article-card__date {
    width: 128px;
  }
}

.article-card__title {
  width: 256px;
  height: 52px;
  margin: 0px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  color: #1A1B22;
  /* z-index: 1; */
}

@media screen and (min-width: 622px) {
  .article-card__title {
  width: 192px;
  height: 72px;
  }
}


@media screen and (min-width: 970px) {
  .article-card__title {
  width: 352px;
  height: 60px;
  }
}

.article-card__text {
  width: 256px;
  height: 88px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 22px;
  padding-top: 10px;
  padding-left: 16px;
  color: #1A1B22;
}

@media screen and (min-width: 622px) {
  .article-card__text {
  width: 192px;
  height: 88px;
  padding-bottom: 12px;
  }
}


@media screen and (min-width: 970px) {
  .article-card__text {
  width: 352px;
  height: 110px;
  padding-bottom: 12px;
  }
}

.article-card__source {
  width: 256px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Robotoslab', Arial, sans-serif;
  margin: 0px;
  padding-top: 8px;
  padding-left: 16px;
  color: #B6BCBF;
  letter-spacing: .4px;
  text-transform: uppercase;
}


@media screen and (min-width: 622px) {
  .article-card__source {
    width: 192px;
  }
}


@media screen and (min-width: 970px) {
  .article-card__source {
    width: 192px;
  }
}

.about__section {
  width: 320px;
  min-height: 726px;
  margin: 0px;
  padding-top: 32px;
  background-color: #ffffff;
}


@media screen and (min-width: 622px) {
  .about__section {
    width: 100%;
    min-height: 354px;
    display: grid;
    grid-template-columns: 304px 1fr;
    margin: 0px;
    padding-top: 0px;
    /* background-color: #ffffff; */
  }

}


@media screen and (min-width: 1282px) {
  .about__section {
    width: 100%;
    min-height: 624px;
    display: grid;
    grid-template-columns: 624px 1fr;
    margin: 0px;
    padding-top: 0px;
    /* background-color: #ffffff; */
  }

}

.about__content {
  margin: 0px;
}



@media screen and (min-width: 622px) {
  .about__content {
    padding-left: 32px;
    width: 424px;
    /* height: 192px; */
  }
}


@media screen and (min-width: 1282px) {
  .about__content {
    padding-left: 32px;
    width: 600px;
    /* height: 192px; */
  }
}

.about__title {
  font-size: 30px;
  font-family: 'Robotoslab', Arial, sans-serif;
  font-weight: 400;
}


@media screen and (min-width: 622px) {
  .about__title {
    width: 424px;
    padding-top: 40px;
    padding-left: 0px;
  }
}


@media screen and (min-width: 1282px) {
  .about__title {
    width: 424px;
    padding-top: 131px;
    padding-left: 0px;
  }
}

.about__photo {
  width: 272px;
  height: 272px;
  margin: 0px 24px 24px 24px;
  border-radius: 1000px;
  background: url(../images/mobile/avatar/image-03_mobile.jpg);
}

@media screen and (min-width: 622px) {
  .about__photo {
    width: 232px;
    height: 232px;
    margin: 61px 32px 61px 40px;
    background: url(../images/tablet/avatar/image-03_tablet.jpg);
  }

}


@media screen and (min-width: 1282px) {
  .about__photo {
    width: 464px;
    height: 464px;
    margin: 61px 32px 61px 40px;
    background: url(../images/desktop/avatar/image-03_desktop.png);
  }

}

.about__text {
  padding-top: 16px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 24px;
}

@media screen and (min-width: 622px) {
  .about__text {
    width: 424px;
    padding-left: 0px;
  }

}


@media screen and (min-width: 1282px) {
  .about__text {
    width: 600px;
    padding-top: 24px;
    padding-left: 0px;
  }

}

.footer_mobile {
  width: 320px;
  height: 224px;
  background-color: #ffffff;
}


@media screen and (min-width: 622px) {
  .footer_mobile {
    display: none;
  }
}


@media screen and (min-width: 1282px) {
  .footer_mobile {
    display: none;
  }
}


.footer_big {
  display: none;
}

@media screen and (min-width: 622px) {
  .footer_big {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    /* direction: revert; */
  }
}


@media screen and (min-width: 1282px) {
  .footer_big {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    /* direction: revert; */
  }
}

.footer__down {
  width: 320px;
  height: 50px;
  background-color: #F5F6F7;
  background-position: bottom;
  /* padding-bottom: 0px; */
  /* margin-bottom: 0px; */
}


@media screen and (min-width: 622px) {

  .footer__down {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    direction: revert;
  }
}


@media screen and (min-width: 1282px) {

  .footer__down {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    direction: revert;
  }
}

.footer__columns {
  margin: 0px;
  display: flex;
  padding-bottom: 30px;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

@media screen and (min-width: 622px) {
  .footer__columns {
   padding-right: 25px;
  }
}


@media screen and (min-width: 1282px) {
  .footer__columns {
   padding-right: 106px;
  }
}

.footer__column-navigation {
  width: 200px;
  height: 74px;
  margin: 0px;
  padding-top: 20px;
  padding-left: 16px;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media screen and (min-width: 622px) {
  .footer__column-navigation {
    width: 264px;
    /* height: 22px;
    margin: 24px auto; */
    flex-direction: row;
    height: 20px;
    /* flex-wrap: wrap; */
  }
}


@media screen and (min-width: 1282px) {
  .footer__column-navigation {
    width: 304px;
    /* height: 22px;
    margin: 24px auto; */
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
}

.footer__link {
  text-decoration: none;
  color: #1A1B22;
  font-size: 18px;
}

.footer__column-social-icons {
  width: 74px;
  height: 74px;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 622px) {
  .footer__column-social-icons {
    /* width: 300px;
    height: 22px;
    margin: 24px auto; */
    flex-direction: row;
    padding-left: 48px;
    /* flex-wrap: wrap; */
    height: 22px;
  }
}

.footer__social-icon {
  /* line-height: 17px; */
  /* font-size: 18px; */
  /* font-weight: normal; */
  /* color: white; */
}

.icon {
  width: 20px;
  height: 20px;
  /* margin: 6px 0 8px -1px; */
  /* text-decoration: none; */
  /* padding: 0px 0 0 22px; */
  display: block;
  position: relative;
  z-index: 1;
}


.icon_gh {
  background: url(../images/icons/VectorGH.png) 0 0px no-repeat;
}

.icon_fb {
  background: url(../images/icons/VectorFB.png) 0 0px no-repeat;
}

.icon_menu {
  border-bottom: 7px double black;
  /* border-top: 6px solid #ffffff; */
  content:"";
  height: 1px;
  width: 16px;
  /* width: 16px;
  height: 2px; */
  /* background: url(../src/images/icons/Rectangle\ 11.png);
  background-repeat: repeat-y; */
}

.footer__copyright {
  font-size: 16px;
  padding-left: 16px;
  color: #B6BCBF;
  font-family: 'Roboto', Arial, sans-serif;
  width: 288px;
  height: 22px;
  padding-bottom: 16px;
}


@media screen and (min-width: 622px) {
  .footer__copyright {
    width: 300px;
    height: 0px;
    /* margin: 24px 28px 18px 40px; */
    margin: auto;
  }
}


@media screen and (min-width: 622px) {
  .page-logged-scroll {
    display: none;
  }
}


@media screen and (min-width: 622px) {
  .button__escape {
    display: flex;
    width: 100px;
    height: 40px;
    /* color: #ffffff; */
    color: black;
    font-size: 16px;
    text-align: center;
    /* margin: 0px; */
    margin-top: 13px;
    /* margin-right: 52px; */
    padding-top: 8px;
    background: none;
    border: 1px solid #000000;
  }
}

.saved-info__category_span {
  font-weight: 700;
}