@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.page {
  background-color: #F5F6F7;
  /* max-width: 1440px; */
  color: #1A1B22;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  /* text-align: center; */
  display: table;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
/*
body {
  max-width: 320px;
  min-height: 100vh;
  background-color: #F5F6F7;
  margin: auto;
  /* display: flex; */
  /* justify-content: center; */
} */

.main {
  margin: 0px;
}


.article-list {
  margin: 0px;
}


@media screen and (min-width: 622px) {
  .article-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 234px);
    grid-gap: 8px 8px;
    justify-content: center;
    padding-bottom: 22px;
  }
}

.text {
  width: 288px;
  margin: 0px;
  padding-left: 16px;
  font-size: 18px;
}

.header {
  width: 320px;
  height: 536px;
  margin: 0px;
  background-image: url(../src/images/fon/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
  background-repeat: no-repeat;
}

/* .header_mobile {
  background-image: url(../src/images/fon/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
} */


@media screen and (min-width: 622px) {

  .header {
    /* width: 768px; */
    width: 99vw;
    /* width: 95%; */
    height: 400px;
    margin: 0px;
    display: block;
    background-image: url(../src/images/tablet/fon_tablet/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;
  }


}


.header__top {
  height: 56px;
  border: 1px solid rgba(196, 196, 196, 0.3);
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 622px) {
  .header__top {
    height: 66px;
  }
}

.header__logo {
  width: 117px;
  height: 24px;
  line-height: 24px;
  padding-top: 16px;
  padding-left: 16px;
  font-family: 'Robotoslab';
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 622px) {
  .header__logo {
    font-size: 20px;
  }
}

.header__menu {
  width: 16px;
  height: 16px;
  padding-top: 24px;
  padding-right: 24px;
}

.header__nav {
  display: none;
}

.button__registration {
  display: none;
}

@media screen and (min-width: 622px) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 622px) {
  .header__nav {
    display: flex;
    font-size: 16px;
    width: 220px;
    /* text-decoration: none; */
    /* color: #ffffff; */
    /* border-bottom: #ffffff; */
    padding-right: 20px;
  }
}

@media screen and (min-width: 622px) {
  .header__link {
    display: flex;
    padding-top: 22px;
    font-size: 16px;
    width: 64px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
  }
}


.header__section {
  margin: 0px;

}


.title {
  margin: 0px;
  padding-left: 16px;
  font-size: 30px;
  font-weight: normal;
}

.header__title {
  width: 285px;
  height: 80px;
  margin: 0px;
  /* text-align: ; */
  padding-top: 30px;
  padding-left: 19px;
  padding-bottom: 16px;
  font-family: 'Robotoslab';
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
}

@media screen and (min-width: 622px) {
  .header__title {
    width: 352px;
    padding-left: 160px;
  }
}


.header__text {
  margin: 0px;
  padding-left: 16px;
  padding-bottom: 122px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}


@media screen and (min-width: 622px) {
  .header__text {
    width: 452px;
    padding-left: 160px;
    padding-bottom: 52px;
  }
}

.button {
  width: 288px;
  height: 56px;
  margin-left: 16px;
  border-radius: 100px;
  border: none;
}



@media screen and (min-width: 622px) {
  .button__registration {
    display: flex;
    width: 152px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    /* margin: 0px; */
    margin-top: 13px;
    margin-right: 52px;
    padding-top: 8px;
    background: none;
    border: 1px solid #ffffff;
  }
}
.button__field {
  padding-left: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: left;
  background: #ffffff;
  color: #B6BCBF;
}


@media screen and (min-width: 622px) {
  .button__field {
    width: 448px;
    margin-left: 160px;
    position: absolute;
  }
}

.button__search {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background: rgba(47, 113, 229, 1);
}

@media screen and (min-width: 622px) {
  .button__search {
    width: 160px;
    margin-left: 448px;
    position: relative;
  }
}

.button__show {
  margin-bottom: 32px;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  background: #ffffff;
}


@media screen and (min-width: 622px) {
  .button__show {
    width: 240px;
    /* position: absolute; */
    margin-left: calc((100% - 240px)/2);
    margin-bottom: 40px;
  }
}

.section-title {
  margin: 0px;
  width: 288px;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 24px;
  font-size: 30px;
  font-family: 'Robotoslab';
}

.article-card {
  width: 288px;
  min-height: 440px;
  margin-left: 16px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  /* position: absolute; */
  /* display: flex; */
  /* z-index: -1; */
}


@media screen and (min-width: 622px) {
  .article-card {
  width: 224px;
  min-height: 420px;
  margin-left: 16px;
  margin-bottom: 9px;
  background-color: #fff;
  border-radius: 10px;
  /* position: absolute; */
  /* display: flex; */
  /* z-index: -1; */
  }
}

.article-card__image-section {
  width: 288px;
  height: 196px;
  /* background-size: cover;
  background-position: center; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: ;
  display: flex;
}


@media screen and (min-width: 622px) {
  .article-card__image-section {
  width: 224px;
  height: 150px;
  }
}

.article-card__image {
  width: 288px;
  height: 196px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* position: relative; */
  /* z-index: -1; */
}


@media screen and (min-width: 622px) {
  .article-card__image {
  width: 224px;
  height: 150px;
  }
}

.article-card__icon {
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-left: 232px;
  border-radius: 8px;
  background: url(../src/images/icons/Rectangle\ 8.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border: none;
  /* z-index: 3; */
  position: absolute;
  /* display: flex; */
}

@media screen and (min-width: 622px) {
  .article-card__icon {
    margin-top: 8px;
    margin-left: 176px;
  }
}

.article-card__date {
  width: 256px;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Sourcesanspro';
  margin: 0px;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 0px;
  color: #B6BCBF;
  /* position: absolute; */
  /* z-index: 1; */
}

.article-card__title {
  width: 256px;
  height: 52px;
  margin: 0px;
  font-family: 'Robotoslab';
  font-size: 22px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  color: #1A1B22;
  /* z-index: 1; */
}

@media screen and (min-width: 622px) {
  .article-card__title {
  width: 192px;
  height: 72px;
  }
}

.article-card__text {
  width: 256px;
  height: 88px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 22px;
  padding-top: 10px;
  padding-left: 16px;
  color: #1A1B22;
}

@media screen and (min-width: 622px) {
  .article-card__text {
  width: 192px;
  height: 88px;
  }
}

.article-card__source {
  width: 256px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Robotoslab';
  margin: 0px;
  padding-top: 8px;
  padding-left: 16px;
  color: #B6BCBF;
  letter-spacing: .4px;
  text-transform: uppercase;
}

.about__section {
  width: 320px;
  min-height: 726px;
  margin: 0px;
  padding-top: 32px;
  background-color: #ffffff;
}


@media screen and (min-width: 622px) {
  .about__section {
    width: 768px;
    min-height: 354px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    padding-top: 32px;
    /* background-color: #ffffff; */
  }

}

.about__content {
  margin: 0px;
}


.about__title {
  font-size: 30px;
  font-family: 'Robotoslab';
  font-weight: 400;
}


.about__photo {
  width: 272px;
  height: 272px;
  margin: 0px 24px 24px 24px;
  border-radius: 1000px;
  background: url(../src/images/image-03.jpg);
}

.about__text {
  padding-top: 16px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 24px;
}

.footer_mobile {
  width: 320px;
  height: 224px;
  background-color: #ffffff;
}


@media screen and (min-width: 622px) {
  .footer_mobile {
    width: 768px;
    height: 64px;
    background-color: #F5F6F7;
   display: flex;
  direction: revert;
  }
}

.footer__down {
  width: 320px;
  height: 50px;
  background-color: #F5F6F7;
  background-position: bottom;
  /* padding-bottom: 0px; */
  /* margin-bottom: 0px; */
}


@media screen and (min-width: 622px) {

  .footer__down {
    width: 768px;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    direction: revert;
  }
}

.footer__columns {
  margin: 0px;
  display: flex;
  padding-bottom: 30px;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.footer__column-navigation {
  width: 200px;
  height: 74px;
  margin: 0px;
  padding-top: 20px;
  padding-left: 16px;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: #1A1B22;
  font-size: 18px;
}

.footer__column-social-icons {
  width: 74px;
  height: 74px;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer__social-icon {
  /* line-height: 17px; */
  /* font-size: 18px; */
  /* font-weight: normal; */
  /* color: white; */
}

.icon {
  width: 20px;
  height: 20px;
  /* margin: 6px 0 8px -1px; */
  /* text-decoration: none; */
  /* padding: 0px 0 0 22px; */
  display: block;
  position: relative;
  z-index: 1;
}


.icon_gh {
  background: url(../src/images/icons/VectorGH.png) 0 0px no-repeat;
}

.icon_fb {
  background: url(../src/images/icons/VectorFB.png) 0 0px no-repeat;
}

.icon_menu {
  border-bottom: 7px double #ffffff;
  /* border-top: 6px solid #ffffff; */
  content:"";
  height: 1px;
  width: 16px;
  /* width: 16px;
  height: 2px; */
  /* background: url(../src/images/icons/Rectangle\ 11.png);
  background-repeat: repeat-y; */
}

.footer__—Åopyright {
  font-size: 16px;
  padding-left: 16px;
  color: #B6BCBF;
  font-family: 'Roboto';
  width: 288px;
  height: 22px;
  padding-bottom: 16px;
}
